include ACCEPTANCE.md
include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include README.zh-CN.md
include SECURITY.md
include conf.yml
recursive-include docs *.md
recursive-include resources *.json *.md
